{% extends "layout.html" %}
{% load static %}

{% block title %}Edit Event{% endblock %}
{% block head %}
    <style>
        .errorlist {
            color: red;
        }
    </style>
{% endblock %}
{% block content %}
<div class="flex items-center justify-center mb-10 text-black">
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="flex items-center justify-center">
            <h1 class="text-white text-3xl mb-5 font-bold">📅 Edit Event</h1>
        </div>
        <div class="flex justify-center items-start bg-white/85 p-8 rounded-xl shadow-md gap-10">
            {% csrf_token %}
            <div class="flex flex-col items-center gap-5">
                <div class="flex flex-col items-center justify-center bg-gray-50 h-80 border-4 border-dashed rounded-lg hover:bg-gray-100 w-[250px]">
                    {% if eventForm.instance.image %}
                    <img id="preview" src="{{ eventForm.instance.image.url }}" alt="Preview">
                    {% else %}
                    <img id="preview" src="{% static 'images/image-gallery.png' %}" alt="Preview" >
                    {% endif %}
                </div>
                <label for="{{ eventForm.image.id_for_label }}" class="bg-violet-600 py-2 px-4 rounded-lg font-semibold hover:bg-violet-800 text-white cursor-pointer">Add Image</label>
                {{ eventForm.image }}
            </div>
            <div class="flex flex-col gap-5 w-[400px]">
                {{ eventForm.non_field_errors }}
                <div class="flex flex-col">
                    <label for="{{ eventForm.title.id_for_label }}" class="mb-1 font-semibold">Title</label>
                    {{ eventForm.title }}
                </div>
                
                <div class="flex flex-col">
                    <label for="{{ eventForm.categories.id_for_label }}" class="mb-1 font-semibold">Category</label>
                    {{ eventForm.categories }}
                </div>
    
                <div class="flex flex-col">
                    <label for="{{ eventForm.date.id_for_label }}" class="mb-1 font-semibold">Date</label>
                    {{ eventForm.date }}
                    {{ eventForm.date.errors }}
                </div>
    
                <div class="flex flex-col">
                    <label for="{{ eventForm.start_time.id_for_label }}" class="mb-1 font-semibold">Start time</label>
                    {{ eventForm.start_time }}
                </div>
    
                <div class="flex flex-col">
                    <label for="{{ eventForm.end_time.id_for_label }}" class="mb-1 font-semibold">End time</label>
                    {{ eventForm.end_time }}
                </div>
    
                <div class="flex flex-col">
                    <label for="{{ eventForm.place.id_for_label }}" class="mb-1 font-semibold">Place</label>
                    {{ eventForm.place }}
                </div>
                
                <div class="flex flex-col">
                    <label for="{{ eventForm.detail.id_for_label }}" class="mb-1 font-semibold">Detail</label>
                    {{ eventForm.detail }}
                </div>

                <div class="flex flex-col">
                    <label for="{{ eventForm.status.id_for_label }}" class="mb-1 font-semibold">Status</label>
                    {{ eventForm.status }}
                </div>
            </div>
        </div>

        <div class="flex flex-col items-center justify-center mt-20">
            <div>
                <h1 class="text-white text-3xl mb-5 font-bold">🎫 Edit Ticket</h1>
            </div>
            <div id="form-container">
                {{ ticketForm.management_form }}
                {% for form in ticketForm %}
                    {{ form.non_field_errors }}
                    <div class="flex">
                        {% include "partials/ticket_form.html" with form=form %}
                    </div>
                {% endfor %}
            </div>
            <div class="flex gap-3 mt-2">
                <a href="{% url 'organizer-home' %}" class="bg-white/85 text-black cursor-pointer py-3 px-4 rounded-lg font-semibold hover:bg-white/70 hover:text-white transition-colors duration-200"
                    type="submit">Cancel</a>
                <button class="text-white bg-green-600 py-2 px-4 rounded-lg font-semibold hover:bg-green-800 transition-colors duration-200"
                    hx-get="{% url 'add_ticket_form' %}" hx-target="#form-container" hx-swap="beforeend"
                    hx-vals='js:{"index": document.querySelector("#id_form-TOTAL_FORMS").value}'>Add Ticket</button>
                <button class="bg-violet-600 py-2 px-4 rounded-lg font-semibold hover:bg-violet-800 text-white transition-colors duration-200"
                    type="submit">Update Event</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
  <script>
    // ใช้ id เหมือนที่ตั้งกับ label
    const image = document.getElementById('{{ eventForm.image.id_for_label }}')
    const preview = document.getElementById('preview')
    image.addEventListener('change', () => {
      const [file] = image.files
      if (file) {
        preview.src = URL.createObjectURL(file)
         preview.classList.add('w-full', 'h-full', 'object-cover', 'rounded-lg', 'p-2');
        // preview.classList.remove('hidden')
      }
    })
  </script>
  <script src="https://unpkg.com/htmx.org@1.9.6"></script>
{% endblock %}